header {
    display: flex;
    flex-direction: column;
}

#score-box{
    float: right;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
}

.mole-pic
{
    position: relative;
    margin-top: -35%;
    margin-bottom: -40%;
    height: 10em;
    margin-left:36%;
    margin-right: 36%;
}
#row-2{
    clip-path: rect(4%,3%,3%,4%);

}
